.App {
  text-align: center;
  background-color: black;
}

.app__form {
  position: fixed;
  padding: 5px;
  bottom: 0;
  z-index: 1;
  background-color: #e9e9eb;
  width: 90%;
  margin: 20px;
  background-color: darkgray;
  border-radius: 24px;
}
.app__formControl {
  display: flex !important;
  flex-direction: row !important;
  border-radius: 24px;
}
.app__iconButton {
  flex: 0;
  border-radius: 20px;
}
.app__input {
  flex: 1;
  border-radius: 20px;
}
.h1 {
  color: rgb(14, 163, 233);
}
.h2 {
  color: rgb(14, 163, 233);
}
