.message {
  padding: 10px;
  margin: 10px;
  width: fit-content;
  border-radius: 10px;
}

.message__user {
  margin-left: auto;
  color: rgb(15, 15, 15);
  text-align: left !important;
  border-radius: 10px;
}
.message__userCard {
  background-color: rgb(18, 221, 79) !important;
}
.message__guestCard {
  background-color: rgb(128, 128, 128) !important;
}
